:host {

  .patients-wrapper {
    padding-bottom: 30px;
    .table-container {
      margin-top: 30px;

      table {
        width: 100%;

        .favorites-cell {
          text-align: right;
        }

        svg {
          width: 18px;
          height: 18px;
          cursor: pointer;
        }
      }
    }
  }
}
